<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="capabilities">
      <section name="parallel" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    
    

    <!--<sectionGroup name="environments">
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup> -->

    <sectionGroup name="environments">
      <section name="chrome" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="safari" type="System.Configuration.AppSettingsSection, System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>
    
  </configSections>
  
  <appSettings>
    <add key="user" value="USERNAME" />
    <add key="key" value="ACCESSKEY" />
    <add key="server" value="hub-cloud.browserstack.com" />
  </appSettings>
  
  <capabilities>
   <!-- <single>
      <add key="browserstack.debug" value="true" />
    </single>-->
    <parallel>
      <add key="browserstack.debug" value="true" />
    </parallel>
  </capabilities>

  <environments>
    <chrome>
      <add key="browserName" value="chrome" />  
    </chrome>
    <safari>
      <add key="browserName" value="safari" />
    </safari>
    <!--<ie>
      <add key="browserName" value="ie" />
    </ie>
    <firefox>
      <add key="browserName" value="firefox" />
    </firefox>
    <meetu>
      <add key="browserName" value="meetu" />
    </meetu>
    <yoges>
      <add key="browserName" value="yoges" />
    </yoges>-->
  </environments>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
